{% load static %}

{% include 'partials/_head.html' %}

    <!-- RESET CSS -->
    <link rel="stylesheet" type="text/css" href="{% static './css/reset.css' %}">
    <!-- CSS CUSTOM-->
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/ideas.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static './css/joint.css' %}">
    <link rel="stylesheet" href="{% static './css/ideas.css' %}">

</head>
{% include 'partials/_base.html' %}

<div class="home_content">
    <div id="macy">
 <div class="grid-item mobile_grid">
                <a href="#"><img src="{% static './ideas_img/ayu.go12.jpg' %}" alt="image"></a>
              <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go13.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go14.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go15.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go16.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go17.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go18.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go19.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go20.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>

        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go21.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>

        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go22.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go23.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './ideas_img/ayu.go24.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go25.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go26.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go27.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go28.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go29.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go30.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go31.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './ideas_img/ayu.go32.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>



    </div>


</div>
{% include 'partials/_macy.html' %}

{% include 'partials/_script.html' %}