
{% load static %}

{% include 'partials/_head.html' %}



    <!-- RESET CSS -->
    <link rel="stylesheet" type="text/css" href="{% static './css/reset.css' %}">
    <!-- CSS CUSTOM-->
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/joint.css' %}">


</head>

{% include 'partials/_base.html' %}

<div class="home_content">
    <div id="macy">
 <div class="grid-item mobile_grid">
                <a href="./html/content.html"><img src="{% static './img/barbara.jpg' %}" alt="image"></a>
              <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/barbara2.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/nft.gif' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/barbara3.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum1.jpeg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum2.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum3.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum4.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>

        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum5.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>

        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum6.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum7.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item mobile_grid">
                <img src="{% static './img/sunum8.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/sunum9.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/sunum10.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/mir.jpeg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/mir2.jpeg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/12.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/barbara4.jpg' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/pxl.png' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>
        <div class="grid-item">
                <img src="{% static './img/pxl1.png' %}" alt="image">
            <div class="pic_info_mobile">
                    <ul>
                    <li class="pic_name"><b>PIC NAME</b></li>
                    <li class="pic_about">PIC ABOUT</li>
                </ul>
        </div>
          </div>



    </div>

</div>

{% include 'partials/_macy.html' %}

{% include 'partials/_script.html' %}




